<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" xml:lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta name="description" content="权限运维系统" />
        <meta name="keywords" content="权限,运维">
        <title ng-bind="pageTitle">权限运维系统</title>
        <link rel="shortcut icon" href="cfg/download/TECHOPS_ICON">
        <link rel="stylesheet" href="scripts/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="scripts/lib/ui-select/dist/select.css">

        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/angular-tree-control/css/tree-control-dr.css">
        <link rel="stylesheet" href="styles/angular-tree-control/css/tree-control-attribute.css">
        <link rel="stylesheet" href="styles/transfer.css">
        <!-- endbuild -->
    </head>

    <body ng-controller="MainController" class="container">
        <script src="scripts/lib/requirejs/require.js"></script>
        <!-- build:js scripts/ops.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/ops.js"></script>
        <!-- endbuild -->
        <div ng-show="!pageLoaded" style="padding-top: 1em;text-align: left;">正在加载...</div>
        <div ng-show="pageLoaded">
            <div ng-include="'views/common/header.html'" class="container"></div>
            <div class="alert-container container">
                <uib-alert ng-cloak template-url="views/common/message-box.html" class="fade" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind="alert.msg"></span></uib-alert>
                <uib-alert ng-cloak template-url="views/common/message-box.html" class="fade" ng-repeat="alert in autoDismissAlerts" type="{{alert.type}}" dismiss-on-timeout="2000" close="closeDismissAlert($index)"><span ng-bind="alert.msg"></span></uib-alert>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div ng-include="'views/common/menu.html'"></div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <ui-view autoscroll />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>