<div class="control-panel">
    <h2>ADDDDDDD</h2>
    <ul>
        <li>
            AAA
        </li>
        <li>
            BBB
        </li>
        <li>
            CCCCC
        </li>
    </ul>
</div>
<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-plus-square-o"></i>
    </h4>
</div>
<div class="control-panel">
    <ng-form name="addUserDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[addUserDialog.email.$dirty && addUserDialog.email.$invalid]">
            <label class="control-label" for="username" placeholder="用户姓名">用户姓名:</label>
            <input type="text" class="form-control" name="username" id="username" ng-model="user.name">
            <label class="control-label" for="email" placeholder="用户邮箱">用户邮箱:</label>
            <input type="text" class="form-control" name="email" id="email" ng-model="user.email" required>
            <label class="control-label" for="phone" placeholder="用户手机">用户手机:</label>
            <input type="text" class="form-control" name="phone" id="phone" ng-model="user.phone">
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(addUserDialog.$dirty && addUserDialog.$invalid) || addUserDialog.$pristine">保存</button>
</div>
