<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'groupMgr.moveOwner' | translate}}
        </h3>
    </div>
    <div class="panel-body">
        <div>
            <ng-form name="moveGroupForm" novalidate role="form">
                <div class="form-group">
                    <label class="panel-label" for="user">{{ 'groupMgr.label.moveOwner' | translate}}:</label>
                    <input type="text" class="form-control" name="user" id="user" ng-model="moveUser.user.label" required disabled>
                </div>
                <div class="form-group">
                    <label class="panel-label" for="group">{{ 'groupMgr.targetGroup' | translate}}:</label>
                    <input type="text" class="form-control" name="group" id="group" ng-model="moveUser.group.label" required disabled>
                </div>
                <button type="button" class="btn btn-info" ng-click="move()"
                        ng-disabled="moveGroupForm.fromGroup.$invalid || moveGroupForm.toGroup.$invalid">{{ 'groupMgr.dialog.eav.confirmMove'| translate}}</button>
                <button type="button" class="btn btn-link" ng-click="reset(false,true)">{{ 'groupMgr.label.cancel'| translate }}</button>
            </ng-form>
        </div>
    </div>
</div>

