<div class="control-panel">
    <div class="panel-header modal-header dialog-header-group">
        <h4 class="modal-title text-center">
            <i class="fa fa-pencil-square-o"></i> {{ 'groupMgr.editGroup' | translate}}
        </h4>
    </div>
    <div>
        <ng-form name="modifyGroupForm" novalidate role="form">
            <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[modifyGroupForm.code.$dirty && modifyGroupForm.code.$invalid]">
                <label class="panel-label" for="label">{{ 'groupMgr.groupName'| translate}}:</label>
                <input type="text" class="panel-input form-control" placeholder="{{ 'groupMgr.groupName'| translate}}" id="label" ng-model="grp.selected.label" required>
                <label class="panel-label" for="code">组code:</label>
                <input type="text" class="panel-input form-control" placeholder="{{ 'groupMgr.add.groupKey' | translate}}" id="code" ng-model="grp.selected.code" required>
                <label class="panel-label" for="description" placeholder="{{ 'groupMgr.add.groupDesc'| translate}}">{{ 'groupMgr.add.groupDesc'| translate}}:</label>
                <textarea id="description" style="height:120px;resize:none" class="panel-textarea form-control" placeholder="{{ 'groupMgr.add.groupDesc'| translate}}" ng-model="grp.selected.description"></textarea>
            </div>
        </ng-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="modifyGroup()"
                ng-disabled="(modifyGroupForm.$dirty && modifyGroupForm.$invalid) || modifyGroupForm.$pristine">{{ 'userMgr.dialog.eav.confirmModify'| translate}}</button>
    </div>
</div>
