<div class="control-panel">
    <div class="panel-header modal-header dialog-header-group">
        <h4 class="modal-title text-center">
            <i class="fa fa-trash-o"></i> 删除Owner
        </h4>
    </div>
    <div style="font-size: 13px">
        <div ng-repeat="selectedNode in selectedNodes">
            <div>删组:
                <strong style="color: #337AC3">'{{selectedNode.parent.label}}'</strong>
                中的{{$state.includes('group.delete-user')?'用户:':'Owner:'}}
                <strong style="color: #FF338E">{{selectedNode.label}}</strong>
            </div>
        </div>
        <p class="text-danger"><strong>{{groupMessage}}</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="removeUserFromGroup()">确认删除</button>
    </div>
</div>
