<div class="control-panel">
    <div class="panel-header modal-header dialog-header-group">
        <h4 class="modal-title text-center">
            <i class="fa fa-pencil-square-o"></i> 修改组
        </h4>
    </div>
    <div>
        <ng-form name="modifyGroupForm" novalidate role="form">
            <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[modifyGroupForm.code.$dirty && modifyGroupForm.code.$invalid]">
                <label class="panel-label" for="label">组名称:</label>
                <input type="text" class="panel-input form-control" placeholder="组名称" id="label" ng-model="grp.selected.label" required>
                <label class="panel-label" for="code">组code:</label>
                <input type="text" class="panel-input form-control" placeholder="组的唯一标识" id="code" ng-model="grp.selected.code" required>
                <label class="panel-label" for="description" placeholder="组描述">组描述:</label>
                <textarea id="description" style="height:120px;resize:none" class="panel-textarea form-control" placeholder="组的描述" ng-model="grp.selected.description"></textarea>
                <p class="text-danger"><strong>{{groupMessage}}</strong></p>
            </div>
        </ng-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="modifyGroup()"
                ng-disabled="(modifyGroupForm.$dirty && modifyGroupForm.$invalid) || modifyGroupForm.$pristine">确认修改</button>
    </div>
</div>
