<div style="padding: 5px 5px 5px 5px">
    <div ng-if="groupSelected.label">
      <i class="fa fa-exclamation-circle font-color-info"></i>
      被选中的组: {{groupSelected.label}}.
    </div>
    <div ng-if="!groupSelected.label">
      <i class="fa fa-exclamation-circle font-color-info"></i>
      您没有选中任何一个组.
    </div>
</div>
<div class="btn-group">
    <a class="btn btn-info" ng-class="{active: $state.includes('group.add')}" ui-sref="group.add">新增组</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('group.modify')}" ui-sref="group.modify">修改组</a>
    <a class="btn btn-info">删除组</a>
    <a class="btn btn-info">添加用户</a>
    <a class="btn btn-info">删除用户</a>
    <a class="btn btn-info">添加owner</a>
    <a class="btn btn-info">删除owner</a>
</div>
<div class="row">
    <div ui-view class="col-md-4 col-sm-9">
    </div>
    <div class="col-md-8 col-sm-9">
        <h5><i class="fa fa-info font-color-info"></i>请选择您想要操作的组</h5>
        <treecontrol class="tree-classic" options="opts" tree-model="treedata.data" on-selection="showSelected(node)" expanded-nodes="treedata.expandedNodes">
            {{node.label}}
        </treecontrol>
    </div>
</div>
