*/swagger-ui/* linguist-vendored=true
*/angular-tree-control/* linguist-vendored=true
*/bootstrap-3.3.5/* linguist-vendored=true
*/imgscroll/* linguist-vendored=true
*/jquery/* linguist-vendored=true

