<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="no()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>{{header}}</h4>
</div>
<div class="modal-body" ng-bind-html="msg">

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="yes()">{{'dialog.yes' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="no()">{{'dialog.no' | translate}}</button>
</div>