<div>
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="text-left active"><a href="#/user">用户管理</a></li>
                    <li role="presentation" class="text-left"><a href="#/group">组管理</a></li>
                    <li role="presentation" class="text-left"><a href="#/role">角色管理</a></li>
                    <li role="presentation" class="text-left"><a href="#/permission">权限管理</a></li>
                    <li role="presentation" class="text-left"><a href="#/permission">关联管理</a></li>
                    <li role="presentation" class="text-left"><a href="#/domain">域管理</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-9">
            <form class="form-horizontal" name="userQueryForm">
                <div class="form-group">
                    <div class="col-md-4">
                        <span for="" class="col-sm-4 control-label">用户姓名:</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="用户姓名" ng-model="userQuery.name" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span for="" class="col-md-4 control-label">邮箱:</span>
                        <div class="col-md-8">
                            <input type="email" class="form-control" placeholder="邮箱" ng-model="userQuery.email" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span for="" class="col-md-4 control-label">手机号:</span>
                        <div class="col-md-8" ng-class="{'has-error': userQueryForm.phone.$invalid }">
                            <input name="phone" type="text" class="form-control" placeholder="手机号" ng-model="userQuery.phone" ng-pattern="/^\d{11}$/" maxlength="11">
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel-body pull-right">
                <a class="btn btn-default" ng-href="#/user/add" target="_blank" role="button">新增用户</a>
                <button class="btn btn-default" ng-click="queryUser()">查询</button>
            </div>

            <div>
                <table class="text-left table grey-border table-hover vertical-middle">
                    <thead class="text-color-c4">
                    <tr>
                        <th>姓名</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>创建日期</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="text-color-c6">

                    <tr ng-if="usersLoading!=''">
                        <td colspan="9" class="tc" ng-bind="usersLoading"></td>
                    </tr>

                    <tr ng-repeat="d in users">
                        <td ng-bind="d.name"></td>
                        <td ng-bind="d.email"></td>
                        <td ng-bind="d.phone"></td>
                        <td>{{d.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td ng-bind="!d.status?'启用':'禁用'"></td>
                        <td class="text-color-c9">
                            <button class="btn btn-info" ng-click="launch('status', d)">{{d.status?'启用':'禁用'}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <uib-pagination ng-if="users && users.length" boundary-links="true" ng-change="queryUser()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm float-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>
    </div>
</div>
