<form style="margin-left: -20px;" class="form-horizontal" name="userQueryForm">
    <div class="form-group">
        <div class="col-md-4">
            <span class="col-sm-4 control-label" translate='userMgr.username'>{{ 'userMgr.username' | translate }}:</span>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{'userMgr.username' | translate}}" ng-model="userQuery.name" maxlength="20">
            </div>
        </div>
        <div class="col-md-4">
            <span class="col-md-4 control-label">{{'userMgr.email' | translate}}:</span>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="{{'userMgr.email' | translate}}" ng-model="userQuery.email" maxlength="40">
            </div>
        </div>
        <div class="col-md-4">
            <span class="col-md-4 control-label">{{'userMgr.mobile' | translate}}:</span>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="{{'userMgr.mobile' | translate}}" ng-model="userQuery.phone" maxlength="16">
            </div>
        </div>
    </div>
</form>

<div class="panel-body pull-right">
	<a class="btn btn-info"  ng-click="launch('manage-eav')"  role="button">{{'userMgr.eavMgr' | translate}}</a>
    <a class="btn btn-info" ng-click="launch('add')" role="button">{{'userMgr.userAdd' | translate}}</a>
    <button class="btn btn-info" ng-click="queryUser(0)">{{'userMgr.query' | translate}}</button>
</div>

<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>{{'userMgr.username' | translate}}</th>
            <th>{{'userMgr.email' | translate}}</th>
            <th>{{'userMgr.mobile' | translate}}</th>
            <th>{{'userMgr.updateTime' | translate}}</th>
            <th style="width: 4em">{{'userMgr.status' | translate}}</th>
            <th ng-class="loginDomainsDropdown.option.code == 'techops'?'operation_width_7':''" style="text-align: center">{{'userMgr.operators' | translate}}</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="usersLoading!=''">
            <td colspan="9" class="tc" ng-bind="usersLoading"></td>
        </tr>

        <tr ng-repeat="d in users">
            <td ng-bind="d.name"></td>
            <td ng-bind="d.email"></td>
            <td ng-bind="d.phone"></td>
            <td>{{d.lastUpdate | date:'yyyy-MM-dd HH:mm'}}</td>
            <td ng-bind="!d.status?'{{'userMgr.enable' | translate}}':'{{'userMgr.disable' | translate}}'"></td>
            <td class="text-color-c9" style="text-align: center">
                <div class="btn-group">
                    <a title="{{'userMgr.mgrRole' | translate}}" class="btn btn-info" ng-click="navigate(d)"><i class="fa fa-paw"></i></a>
                    <a title="{{'userMgr.mgrTag' | translate}}" class="btn btn-info" ng-click="navToTag(d)"><i class="fa fa-tags" aria-hidden="true"></i></a>
                    <a title="{{'userMgr.exEav' | translate}}" class="btn btn-info" ng-click="launch('user-eav', d)"><i class="fa fa-expand" aria-hidden="true"></i></a>
                    <a title=" {{'userMgr.unlock' | translate}}" class="btn btn-info" ng-click="launch('unlock', d)"><i class="fa fa-unlock"></i></a>
                    <a ng-if="loginDomainsDropdown.option.code == 'techops'" title="{{'userMgr.resetPwd' | translate}}" class="btn btn-info" ng-click="launch('resetpwd', d)"><i class="fa fa-key"></i></a>
                    <a title="{{d.status?('userMgr.enableUser' | translate):('userMgr.disableUser' | translate)}}" class="btn btn-info" ng-click="launch('status', d)">
                        <i ng-class="d.status?'fa fa-check':'fa fa-ban'"></i>
                    </a>
                    <a ng-if="loginDomainsDropdown.option.code == 'techops'" title="{{'userMgr.modifyUserInfo' | translate}}" class="btn btn-info" ng-click="launch('modify', d)"><i class="fa fa-pencil"></i></a>
               </div>
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="users && users.length" boundary-links="true" ng-change="queryUser()" items-per-page="pagination.pageSize" max-size="pagination.showPageNum" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm float-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>