<form style="margin-left: -22px;" class="form-horizontal" name="roleQueryForm">
    <div class="form-group">
        <div class="col-md-4">
            <span class="col-sm-4 control-label">{{ 'roleMgr.roleName' | translate}}:</span>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{ 'roleMgr.roleName' | translate}}" ng-model="roleQuery.name" maxlength="40">
            </div>
        </div>
        <div class="col-md-4">
            <span class="col-md-4 control-label">Code:</span>
            <div class="col-md-8 btn-group" uib-dropdown is-open="roleCodesDropdown.isOpen">
                <button type="button" class="btn btn-primary" ng-disabled="disabled" uib-dropdown-toggle>
                    <span ng-bind="roleCodesDropdown.option.code"></span>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="it in roleCodesDropdown.items">
                        <a ng-click="roleCodesDropdown.selectOption(it)" ng-bind="it.code"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<div class="panel-body pull-right">
    <a class="btn btn-info" ng-click="launch('add')" role="button">{{ 'roleMgr.addRole' | translate}}</a>
    <button class="btn btn-info" ng-click="queryRole(0)">{{ 'dialog.query' | translate}}</button>
</div>

<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>{{ 'roleMgr.roleName' | translate}}</th>
            <th>{{ 'roleMgr.roleCode' | translate}}</th>
            <th>{{ 'roleMgr.roleDesc' | translate}}</th>
            <th style="width: 4em"> {{ 'userMgr.status' | translate}}</th>
            <th style="text-align: center">{{ 'userMgr.operators' | translate}}</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="rolesLoading!=''">
            <td colspan="9" class="tc" ng-bind="rolesLoading"></td>
        </tr>

        <tr ng-repeat="d in roles">
            <td ng-bind="d.name"></td>
            <td ng-bind="d.roleCode"></td>
            <td ng-bind="d.description"></td>
            <td ng-bind="!d.status?'{{ 'userMgr.enable' | translate}}':'{{ 'userMgr.disable' | translate}}'"></td>
            <td class="text-color-c9" style="text-align: center">
                <div class="btn-group">
                    <a title="{{ 'roleMgr.manageRoleGrp' | translate}}" class="btn btn-info" ng-click="navToRoleGroup(d)"><i class="fa fa-users"></i></a>
                    <a title="{{ 'roleMgr.manageRoleUser' | translate}}" class="btn btn-info" ng-click="navToRoleUser(d)"><i class="fa  fa-street-view"></i></a>
                    <a title="{{ 'roleMgr.managePerm' | translate}}" class="btn btn-info" ng-click="navToRolePerm(d)"><i class="fa fa-thumbs-up"></i></a>
                    <a title="{{ 'roleMgr.editRole' | translate}}" class="btn btn-info" ng-click="launch('modify', d)"><i class="fa fa-pencil"></i></a>
                    <a title="{{d.status?('roleMgr.enableRole' | translate):('roleMgr.disableRole' | translate)}}" class="btn btn-info" ng-click="launch('status', d)">
                        <i ng-class="d.status?'fa fa-check':'fa fa-ban'"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="roles && roles.length" boundary-links="true" ng-change="queryRole()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" max-size="pagination.showPageNum" ng-model="pagination.curPage" class="pagination-sm float-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>