<div class="panel-body pull-right">
    <a class="btn btn-info" ng-click="addNewTagType()" role="button">{{ 'tagMgr.addTagType' | translate}}</a>
    <button class="btn btn-info" ng-click="queryTagTypes()">{{ 'dialog.refresh' | translate}}</button>
</div>

<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>{{ 'tagMgr.tagTypeCode' | translate}}</th>
            <th style="text-align: center">{{ 'userMgr.operators' | translate}}</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="tagTypesLoading!=''">
            <td colspan="9" class="tc" ng-bind="tagTypesLoading"></td>
        </tr>

        <tr ng-repeat="d in tagTypes">
            <td><input ng-disabled="!d.editable || (d.editable && d.editable == false)" class="{{(!d.editable || (d.editable && d.editable == false))?'noborder':''}}" ng-model="d.code"></td>
            <td class="text-color-c9" style="text-align: center">
                <div class="btn-group">
                    <a ng-show="!d.editable || (d.editable && d.editable == false)" title="{{ 'tagMgr.modifyTagType' | translate}}" class="btn btn-info" ng-click="initEdit(d)"><i class="fa fa-pencil"></i></a>
                    <a ng-show="d.editable && d.editable == true" title="{{ 'tagMgr.confirmTagType' | translate}}" class="btn btn-info" ng-click="confirmEdit(d)"><i class="fa fa-check"></i></a>
                    <a ng-show="d.editable && d.editable == true" title="{{'tagMgr.cancelTagType' | translate}}" class="btn btn-info" ng-click="cancelEdit(d)"><i class="fa fa-ban"></i></a>
                    <a title="{{'tagMgr.deleteTagType' | translate}}" class="btn btn-info" ng-click="launch('del', d)"><i class="fa fa-trash"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>