<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

    <ldap:context-source
          url="ldap://10.8.10.103:389"
          base="dc=dianrong,dc=com"
          username="cn=admin,dc=dianrong,dc=com"
          password="123456" />
   <ldap:ldap-template id="ldapTemplate" />
</beans>