<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<!-- Because we are using Tomcat, it can be set as tomcat/logs folder. -->
	<Property name="log_home" value="${catalina.logs}" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date{ISO8601}[%thread] %-5level %logger{50} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="dataAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/data.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<FileNamePattern>${log_home}/data-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{50} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<appender name="memcacheAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/memcache.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<FileNamePattern>${log_home}/memcache-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{50} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<appender name="uniAuthAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/uniAuth.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<FileNamePattern>${log_home}/uniAuth-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{50} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<appender name="uniAuthMQAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/uniAuth-mq.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<FileNamePattern>${log_home}/uniAuth-mq-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{50} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<logger name="com.dianrong.common.uniauth.server.mq" additivity="false">
		<level value="INFO" />
		<appender-ref ref="uniAuthMQAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="com.dianrong.common.uniauth.server.data.mapper"
		additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="dataAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.apache.http.wire" additivity="false">
		<level value="WARN" />
		<appender-ref ref="uniAuthAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.mybatis.spring" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="dataAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="net.rubyeye.xmemcached" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="memcacheAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="com.google.code.yanf4j" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="memcacheAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="uniAuthAppender" />
	</root>
</configuration>
