<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-pencil-square-o"></i>{{'domainMgr.modifyStake.title' | translate}}
    </h4>
</div>
<div class="modal-body">
    <ng-form name="modifyStakeholderDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[modifyStakeholderDialog.email.$dirty && modifyStakeholderDialog.email.$invalid]">
            <label class="control-label" for="name" placeholder="{{'common.name' | translate}}">{{'common.name' | translate}}:</label>
            <input type="text" class="form-control" name="name" id="name" ng-model="stakeholder.name">
            <label class="control-label" for="email" placeholder="{{'common.email' | translate}}">{{'common.email' | translate}}:</label>
            <input type="text" class="form-control" name="email" id="email" ng-model="stakeholder.email">
            <label class="control-label" for="phone" placeholder="{{'common.mobile' | translate}}">{{'common.mobile' | translate}}:</label>
            <input type="text" class="form-control" name="phone" id="phone" ng-model="stakeholder.phone">
            <label class="control-label" for="jobtitle" placeholder="职位">{{'domainMgr.title' | translate}}:</label>
            <input type="text" class="form-control" name="jobtitle" id="jobtitle" ng-model="stakeholder.jobtitle">
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'dialog.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(modifyStakeholderDialog.$dirty && modifyStakeholderDialog.$invalid) || modifyStakeholderDialog.$pristine">{{'dialog.save' | translate}}</button>
</div>
