<div style="width: 27%">
    <ui-select ng-model="grp.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width:100%;margin-top: 6px;">
        <ui-select-match placeholder="{{'relMgr.groupInputMsg' | translate}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="grp in grps track by $index"
                           refresh="refreshGrps($select.search)"
                           refresh-delay="300">
            <div ng-bind-html="grp.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>

<div style="padding: 5px 5px 5px 5px">
    <div ng-if="grp.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
         {{'relMgr.selectedGroupId' | translate}}: <strong>'{{grp.selected.id}}'</strong>  {{'groupMgr.name' | translate}}: <strong>'{{grp.selected.name}}'</strong> Code: <strong>'{{grp.selected.code}}'</strong> .
    </div>
   <div ng-if="!grp.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
        {{'relMgr.noGroupSelected' | translate}}
    </div>
</div>
<input style="padding: 5px 5px 5px 5px; width: 24%;" type="text" class="form-control" ng-model="predicate" placeholder="{{'auditMgr.filterInPage' | translate}}" />
<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>{{'relMgr.relCode' | translate}}</th>
            <th>{{'relMgr.category' | translate}}</th>
            <th>{{'common.desc' | translate}}</th>
            <th>{{'relMgr.isRelated' | translate}}</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="grpTagsMsg!=''">
            <td colspan="9" class="tc" ng-bind="grpTagsMsg"></td>
        </tr>

        <tr ng-repeat="d in tags | filter:predicate:comparator">
            <td ng-bind="d.code"></td>
            <td ng-bind="d.tagTypeCode"></td>
            <td ng-bind="d.description"></td>
            <td><input type="checkbox" ng-model="d.tagGrouprChecked"></td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer">
    	<div class="btn-left">
        	<button type="button" class="btn btn-info" ng-click="selectAllTagsForGrp(true)">{{'relMgr.selectedAll' | translate}}</button>
        	<button type="button" class="btn btn-default" ng-click="selectAllTagsForGrp(false)">{{'relMgr.selectedNone' | translate}}</button>
        </div>
        <button type="button" class="btn btn-primary" ng-click="replaceTagsToGroup()"  ng-disabled="grp.selected == null">{{'dialog.save' | translate}}</button>
    </div>
</div>