<div style="width: 27%">
    <ui-select ng-model="role.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width:100%;margin-top: 6px;">
        <ui-select-match placeholder="{{'relMgr.roleInputMsg' | translate}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="role in roles track by $index"
                           refresh="refreshRoles($select.search)"
                           refresh-delay="300">
            <div ng-bind-html="role.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
<div style="padding: 5px 5px 5px 5px">
    <div ng-if="role.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
        {{'relMgr.selectedRoleId' | translate}}: <strong>'{{role.selected.id}}'</strong> {{'groupMgr.name' | translate}}: <strong>'{{role.selected.name}}'</strong> Code: <strong>'{{role.selected.roleCode}}'</strong> .
    </div>
    <div ng-if="!role.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
        {{'relMgr.noRoleSelected' | translate}}
    </div>
</div>
<input style="padding: 5px 5px 5px 5px; width: 24%;" type="text" class="form-control" ng-model="predicate" placeholder="{{'auditMgr.filterInPage' | translate}}" />
<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>{{'permMgr.value' | translate}}</th>
            <th>{{'permMgr.permType' | translate}}</th>
            <th>{{'common.desc' | translate}}</th>
            <th>{{'relMgr.isRelated' | translate}}</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="rolePermsMsg!=''">
            <td colspan="9" class="tc" ng-bind="rolePermsMsg"></td>
        </tr>

        <tr ng-repeat="d in perms | filter:predicate:comparator">
            <td ng-bind="d.value"></td>
            <td ng-bind="d.permType"></td>
            <td ng-bind="d.description"></td>
            <td><input type="checkbox" ng-model="d.checked"></td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer">
    	<div class="btn-left">
        	<button type="button" class="btn btn-info" ng-click="selectAllPermsForRole(true)">{{'relMgr.selectedAll' | translate}}</button>
        	<button type="button" class="btn btn-default" ng-click="selectAllPermsForRole(false)">{{'relMgr.selectedNone' | translate}}</button>
        </div>
        <button type="button" class="btn btn-primary" ng-click="replacePermsToRole()"
                ng-disabled="role.selected == null">{{'dialog.save' | translate}}</button>
    </div>
</div>