<div style="width: 27%">
    <ui-select ng-model="perm.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width:100%;margin-top: 6px;">
        <ui-select-match placeholder="输入权限值...">{{$select.selected.value}}</ui-select-match>
        <ui-select-choices repeat="perm in perms track by $index"
                           refresh="refreshPerms($select.search)"
                           refresh-delay="300">
            <div ng-bind-html="perm.value | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
<div style="padding: 5px 5px 5px 5px">
    <div ng-if="perm.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
        您选中的权限id: <strong>'{{perm.selected.id}}'</strong> 值: <strong>'{{perm.selected.value}}'</strong> 类型: <strong>'{{perm.selected.permType}}'</strong> .
    </div>
    <div ng-if="!perm.selected.id">
        <i class="fa fa-exclamation-circle font-color-blue"></i>
        您没有选中任何一个权限.
    </div>
</div>
<div>
    <table class="text-left table grey-border table-hover vertical-middle">
        <thead class="text-color-c4">
        <tr>
            <th>角色名</th>
            <th>角色Code</th>
            <th>描述</th>
            <th>是否关联</th>
        </tr>
        </thead>
        <tbody class="text-color-c6">

        <tr ng-if="permRolesMsg!=''">
            <td colspan="9" class="tc" ng-bind="permRolesMsg"></td>
        </tr>

        <tr ng-repeat="d in roles">
            <td ng-bind="d.name"></td>
            <td ng-bind="d.roleCode"></td>
            <td ng-bind="d.description"></td>
            <td><input type="checkbox" ng-model="d.checked"></td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="selectAllRolesForPerm()">全选</button>
        <button type="button" class="btn btn-info" ng-click="replaceRolesToPerm()"
                ng-disabled="perm.selected == null">保存</button>
    </div>
</div>