<div style="margin-left: -15px;margin-top: 6px" class="btn-group">
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.role--perm')}" ui-sref="rel.role--perm">{{'relMgr.rolePerm' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.perm--role')}" ui-sref="rel.perm--role">{{'relMgr.permRole' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.user--role')}" ui-sref="rel.user--role">{{'relMgr.userRole' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.grp--role')}" ui-sref="rel.grp--role">{{'relMgr.groupRole' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.role--user-grp')}" ui-sref="rel.role--user-grp">{{'relMgr.roleUserGroup' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.tag--user-grp')}" ui-sref="rel.tag--user-grp">{{'relMgr.tagUserGroup' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.user--tag')}" ui-sref="rel.user--tag">{{'relMgr.userTag' | translate}}</a>
    <a class="btn btn-info" ng-class="{active: $state.includes('rel.grp--tag')}" ui-sref="rel.grp--tag">{{'relMgr.groupTag' | translate}}</a>
</div>
<div ui-view class="row">
</div>