<div>
    <ul ng-if="selectedDomain.option" class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{active: $state.is('user')}" class="text-left"><a ui-sref="user" translate='menu.userMgr'>用户管理</a></li>
        <li role="presentation" ng-class="{active: $state.includes('group')}" class="text-left"><a ui-sref="group.this" translate='menu.groupMgr'>组管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('role')}" class="text-left"><a ui-sref="role" translate='menu.roleMgr'>角色管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('perm')}" class="text-left"><a ui-sref="perm" translate='menu.permMgr'>权限管理</a></li>
        <li role="presentation" ng-class="{active: $state.includes('tag')}" class="text-left"><a ui-sref="tag.tag-info" translate='menu.tagMgr'>标签管理</a></li>
        <li role="presentation" ng-class="{active: $state.includes('rel')}" class="text-left"><a ui-sref="rel.role--perm" translate='menu.relMgr'>关联管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('batch')}" class="text-left"><a ui-sref="batch" translate='menu.batch'>批量处理</a></li>
        <li ng-if="selectedDomain.option.code == 'techops'" role="presentation" ng-class="{active: $state.is('domain')}" class="text-left"><a ui-sref="domain" translate='menu.domainrMgr'>域管理</a></li>
        <li ng-if="selectedDomain.option.code == 'techops'" role="presentation" ng-class="{active: $state.is('audit')}" class="text-left"><a ui-sref="audit" translate='menu.logMgr'>日志管理</a></li>
        <li ng-if="selectedDomain.option.code == 'techops'" role="presentation" ng-class="{active: $state.is('sys-cfg')}" class="text-left"><a ui-sref="sys-cfg" translate='menu.sysConfig'>系统配置</a></li>
    </ul>
</div>