<div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{active: $state.is('user')}" class="text-left"><a ui-sref="user">用户管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('group')}" class="text-left"><a ui-sref="group.tree">组管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('role')}" class="text-left"><a ui-sref="role">角色管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('permission')}" class="text-left"><a ui-sref="permission">权限管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('relation')}" class="text-left"><a ui-sref="relation">关联管理</a></li>
        <li role="presentation" ng-class="{active: $state.is('domain')}" class="text-left"><a ui-sref="domain">域管理</a></li>
    </ul>
</div>