.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #333333; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #428bca; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }
.control-panel { background-color: #f0f8ff; }
.font-color-info {
    color:#337ab7;
    padding-right: 2px
}