/*.dialog-header-error { background-color: #d2322d; }*/
/*.dialog-header-wait { background-color: #333333; }*/
/*.dialog-header-notify { background-color: #eeeeee; }*/
/*.dialog-header-error span, .dialog-header-error h4,*/
/*.dialog-header-wait span, .dialog-header-wait h4,*/

.dialog-header-confirm { background-color: #428bca; }
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

.dialog-header-group { background-color: #5BC0EE; }
.dialog-header-group span, .dialog-header-group h4 { color: #ffffff; }
.disabled-line-through {
    text-decoration: line-through;
}
.control-panel {
    background-color: #f0f8ff;
    padding: 6px 6px 6px 6px;
    font-size:16px;
    border-radius:10px;
}

.panel-header {
    border-radius:14px;
    height:42px;
    padding: 8px;
}

.panel-label {
    padding-top: 5px;
}

.input-group-lg > .panel-input {
    height: 35px;
    border-radius:10px;
    font-size: 16px;
}

.input-group-lg > .panel-textarea {
    height: 120px;
    resize: none;
    border-radius:10px;
    font-size: 16px
}

.font-color-blue {
    color:#337ab7;
    padding-right: 2px
}

.font-color-red {
    color:#ff3333;
    padding-right: 2px
}
.font-color-555 {
    color: #555;
    cursor: pointer;
}

@media (min-width: 992px) {
    .col-md-29d4 {
        float: left;
    }
    .col-md-29d4 {
        width: 29.4%;
    }
    .col-md-70d6 {
        float: left;
    }
    .col-md-70d6 {
        width: 70.6%;
    }
}

.col-md-29d4 .col-md-70d6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.alert-container {
    position: fixed;
    width: 518px;
    margin-left: 279px;
    top: 4px;
    z-index: 9999;
}

.fade {
    opacity:1;
}

.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

.fade.ng-enter.ng-enter-active {
    opacity:1;
}

.fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}

.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.common-hidden{
    display:none !important;
}

.common-hidden.no{
    display:block !important;
}
.noborder {
    border: 0px;
}

.top-80px {
	top: 80px;
}

.operation_width_7 {
    width: 21em;
}

/*user-eav-form special css */
.user-eav-form {
	margin-left: -22px;  
	display: inline-block;
	width: 100%;
}

.user-eav-form .eav-show-box {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	border-radius: 15px;
}

.user-eav-form .col-md-1,
.user-eav-form .col-md-2,
.user-eav-form .col-md-3,
.user-eav-form .col-md-4,
.user-eav-form .col-md-5,
.user-eav-form .col-md-6, 
.user-eav-form .col-md-7,
.user-eav-form .col-md-8,
.user-eav-form .col-md-9,
.user-eav-form .col-md-10,
.user-eav-form .col-md-11,
.user-eav-form .col-md-12{
	padding-right: 10px;
    padding-left: 10px;
} 

.user-eav-form .eav-code {
	 top: 7px;
    margin-left: -15px;
    margin-right: 10px;
}

.user-eav-form div input {
	    padding: 3px 6px;
}

.user-eav-form  span:hover {
	 border: 1px solid;
    border-bottom-color: black;
    border-radius: 3px;
}

/*user-eav-form special css */

.btn-left {
	text-align: left;
	float: left;
	margin-left: -15px;
}

.margin-l5 {
    margin-left: 5px;
}
.margin-b15 {
    margin-bottom: 15px;
}
.margin-tb5{
    margin: 5px 0;
}

