<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-key"></i>{{'userMgr.dialog.reset.titlePre' | translate}}: {{user.email}}{{'userMgr.dialog.reset.titleSuffix' | translate}}
    </h4>
</div>
<div class="modal-body">
    <ng-form name="resetPasswordDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[resetPasswordDialog.new-password.$dirty && resetPasswordDialog.new-password.$invalid && resetPasswordDialog.confirm-new-password.$dirty && resetPasswordDialog.confirm-new-password.$invalid]">
            <label><i class="fa fa-exclamation-circle font-color-blue"></i>{{ 'userMgr.dialog.reset.info' | translate}}</label><br />
            <br /><br />
            <label class="control-label" for="new-password" placeholder="{{ 'userMgr.dialog.add.userName' | translate}}">{{ 'userMgr.dialog.reset.pwdInput' | translate}}:</label>
            <input type="password" class="form-control" name="new-password" id="new-password" ng-model="user.password" required>
            <label class="control-label" for="confirm-new-password" placeholder="userMgr.dialog.add.email">{{ 'userMgr.dialog.reset.pwdConfirm' | translate}}:</label>
            <input type="password" class="form-control" name="confirm-new-password" id="confirm-new-password" ng-model="user.password2" required>
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'dialog.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(resetPasswordDialog.$dirty && resetPasswordDialog.$invalid) || resetPasswordDialog.$pristine">{{'dialog.ok' | translate}}</button>
</div>
