<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-key"></i>重置密码
    </h4>
</div>
<div class="modal-body">
    <ng-form name="resetPasswordDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[resetPasswordDialog.new-password.$dirty && resetPasswordDialog.new-password.$invalid && resetPasswordDialog.confirm-new-password.$dirty && resetPasswordDialog.confirm-new-password.$invalid]">
            <span class="text-info"><i class="fa fa-exclamation-circle"></i>重置用户: {{user.email}}的密码</span>
            <br /><br />
            <label class="control-label" for="new-password" placeholder="用户姓名">输入新密码:</label>
            <input type="password" class="form-control" name="new-password" id="new-password" ng-model="user.password" required>
            <label class="control-label" for="confirm-new-password" placeholder="用户邮箱">确认新密码:</label>
            <input type="password" class="form-control" name="confirm-new-password" id="confirm-new-password" ng-model="user.password2" required>
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(resetPasswordDialog.$dirty && resetPasswordDialog.$invalid) || resetPasswordDialog.$pristine">确定</button>
</div>
