<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;<span ng-bind="user.name"></span>--{{ 'userMgr.dialog.eav.title' | translate}}
    </h4>
</div>
<div class="modal-body">
       <form class ="user-eav-form"  name="userEavForm" >
       				<p ng-if="(!userEvaUsed || userEvaUsed.length == 0)  &&  (!userEvaToUse ||  userEvaToUse.length ==  0)" class="text-center">{{ 'userMgr.dailog.eav.noEavInfo' | translate}}</p>
					<div  ng-repeat="d in userEvaUsed"  ng-class="{'btn-success' : !d.editable, 'btn-primary' : d.editable,}" class="form-group btn eav-show-box col-md-{{d.totalLen}}">
								<label  class="control-label eav-code col-md-{{d.codeLen}}" ng-bind="d.extendCode"></label>
								<div  class="col-md-{{d.valueLen}}" >
							     	 <input class="form-control"  type="text" ng-disabled="!d.editable"  ng-model="d.value" >
							    </div>
							    <span class="glyphicon glyphicon-remove" title="{{ 'userMgr.dailog.eav.deleteEav'| translate}}" ng-click="deleteUserEav(d)"  ng-show="!d.editable"></span>
							    <span class="glyphicon glyphicon-ok-circle" title="{{ 'dialog.ok' | translate}}" ng-click="confirmEdit(d)"  ng-show="d.editable"></span>
							    <br>
							    <span class="glyphicon glyphicon glyphicon-edit" title="{{ 'userMgr.dialog.eav.editEav'| translate}}" ng-click="initEdit(d)"  ng-show="!d.editable"></span>
							    <span class="glyphicon glyphicon-remove-circle" title="{{ 'dialog.cancel' | translate}}" ng-click="cancelEdit(d)" ng-show="d.editable"></span>
					</div>
					
					<div ng-if="(!addUserEav || (addUserEav && addUserEav == false)) && (userEvaToUse && userEvaToUse.length >  0)" class="form-group btn btn-primary  col-md-1  glyphicon glyphicon-plus eav-show-box" ng-click="addEav()" title="{{ 'userMgr.dialog.eav.addEav'| translate}}">
					</div>
					
					<div ng-show="addUserEav && addUserEav == true"  class="form-group btn btn-primary col-md-5 eav-show-box">
								<div  class="col-md-5">
									<select ng-model="newUserEav"  ng-options="toUse.extendCode for toUse in userEvaToUse"  class="form-control"></select>
								</div>
								<div class="col-md-6">
							      <input class="form-control" type="text"  ng-model="newUserEav.value" >
							    </div>
							   <span class="glyphicon glyphicon-ok-circle" title="{{ 'dialog.ok' | translate}}" ng-click="addNewUserEav()" ></span>
							   <br>
							   <span class="glyphicon glyphicon-remove-circle" title="{{ 'dialog.cancel' | translate}}" ng-click="cancelAddEav()"></span>
					</div>
	 </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dialog_ok()">{{ 'dialog.back' | translate}}</button>
</div>