<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-pencil-square-o"></i>{{ 'permMgr.modify.title'| translate}}
    </h4>
</div>
<div class="modal-body">
    <ng-form name="modifyPermDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[modifyPermDialog.code.$dirty && modifyPermDialog.code.$invalid]">
            <label class="control-label" for="value" placeholder="{{ 'permMgr.value' | translate}}">{{ 'permMgr.value' | translate}}:</label>
            <input type="text" class="form-control" name="value" id="value" ng-model="perm.value">
            <label class="control-label" for="type" placeholder="{{ 'permMgr.permType' | translate}}">{{ 'permMgr.permType' | translate}}:</label>
            <br />
            <div id="type" class="btn-group" uib-dropdown is-open="permModifyPermTypesDropdown.isOpen">
                <button type="button" class="btn btn-primary" ng-disabled="disabled" uib-dropdown-toggle>
                    <span ng-bind="permModifyPermTypesDropdown.option.type"></span>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="it in permModifyPermTypesDropdown.items">
                        <a ng-click="permModifyPermTypesDropdown.selectOption(it)" ng-bind="it.type"></a>
                    </li>
                </ul>
            </div>
            <br />
            <label class="control-label" for="valueExt" placeholder="{{ 'permMgr.eavValue' | translate}}">{{ 'permMgr.eavValue' | translate}}:</label>
            <input type="text" class="form-control common-hidden {{(permModifyPermTypesDropdown && (permModifyPermTypesDropdown.option.type == 'URI_PATTERN'  
            || permModifyPermTypesDropdown.option.type == 'REGULAR_PATTERN'))?'':'no'}}"  name="valueExt" id="valueExt" ng-model="perm.valueExt">
            <div class="common-hidden {{(permModifyPermTypesDropdown && (permModifyPermTypesDropdown.option.type != 'URI_PATTERN' && permModifyPermTypesDropdown.option.type != 'REGULAR_PATTERN'))?'':'no'}}">
                <div id="valueExtDropDown" class="btn-group" uib-dropdown is-open="permModifyPermValueExtDropdown.isOpen">
                    <button type="button" class="btn btn-primary" ng-disabled="disabled" uib-dropdown-toggle>
                        <span ng-bind="permModifyPermValueExtDropdown.option"></span>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="it in permModifyPermValueExtDropdown.items">
                            <a ng-click="permModifyPermValueExtDropdown.selectOption(it)" ng-bind="it"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <label class="control-label" for="description" placeholder="{{ 'permMgr.permDesc' | translate}}">{{ 'permMgr.permDesc' | translate}}:</label>
            <textarea style="height:120px;" id="description" name="description" class="form-control" placeholder="{{ 'permMgr.permDesc' | translate}}" ng-model="perm.description"></textarea>
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'dialog.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(modifyUserDialog.$dirty && modifyUserDialog.$invalid) || modifyUserDialog.$pristine">{{ 'dialog.save' | translate}}</button>
</div>
