<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/cache
           				http://www.springframework.org/schema/cache/spring-cache.xsd
                        ">
    <import resource="classpath:ss-uniauth-common.xml"/>
    <import resource="cxf-beans.xml" />
    <import resource="db-beans.xml" />
    <import resource="spring-mq.xml" />
    
    <!-- aop -->
    <aop:aspectj-autoproxy/>
    
    <cache:annotation-driven/>

    <!-- context -->
    <context:component-scan base-package="com.dianrong.common.uniauth.server" />
    
    <bean id="switchInit" class="com.dianrong.common.uniauth.common.switches.SwitchInit">
    	<property name="appName" value="uniauthserver"/>
    	<property name="switchs">
    		<list>
                <value>com.dianrong.common.uniauth.server.util.UniauthSwitchs</value>
              </list>
    	</property>
    </bean>
    
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="default"/>
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="commonService"/>
                </bean>
            </set>
        </property>
    </bean>

</beans>
