<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-plus-square-o"></i>新增标签
    </h4>
</div>
<div class="modal-body">
    <ng-form name="addTagDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[addTagDialog.code.$dirty && addTagDialog.code.$invalid]">
            <label class="control-label" for="code">标签code:</label>
            <input type="text" class="form-control" placeholder="标签code" name="code" id="code" ng-model="tag.code">
            <label class="control-label" for="category">标签类别:</label>
            <br />
            <div id="category" class="btn-group" uib-dropdown is-open="tagAddTagTypesDropdown.isOpen">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    <span ng-bind="tagAddTagTypesDropdown.option.code"></span>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="it in tagAddTagTypesDropdown.items">
                        <a ng-click="tagAddTagTypesDropdown.selectOption(it)" ng-bind="it.code"></a>
                    </li>
                </ul>
            </div>
            <br />
            <label class="control-label" for="description" placeholder="标签描述">标签描述:</label>
            <textarea style="height:120px;" id="description" name="description" class="form-control" placeholder="标签的描述" ng-model="code.description"></textarea>
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="save()"
            ng-disabled="(addTagDialog.$dirty && addTagDialog.$invalid) || addTagDialog.$pristine">保存</button>
</div>
