<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title text-center">
        <i class="fa fa-pencil-square-o"></i>{{'tagMgr.modify.title' | translate}}
    </h4>
</div>
<div class="modal-body">
    <ng-form name="modifyTagDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[modifyTagDialog.code.$dirty && modifyTagDialog.code.$invalid]">
            <label class="control-label" for="code">{{'tagMgr.tagCode' | translate}}:</label>
            <input type="text" class="form-control" placeholder="{{'tagMgr.tagCode' | translate}}" name="code" id="code" ng-model="tag.code">
            <label class="control-label" for="category">{{'tagMgr.tagCategory' | translate}}:</label>
            <br />
            <div id="category" class="btn-group" uib-dropdown is-open="tagModifyTagTypesDropdown.isOpen">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    <span ng-bind="tagModifyTagTypesDropdown.option.code"></span>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="it in tagModifyTagTypesDropdown.items">
                        <a ng-click="tagModifyTagTypesDropdown.selectOption(it)" ng-bind="it.code"></a>
                    </li>
                </ul>
            </div>
            <br />
            <label class="control-label" for="description" placeholder="{{'tagMgr.tagDesc' | translate}}">{{'tagMgr.tagDesc' | translate}}:</label>
            <textarea style="height:120px;" id="description" name="description" class="form-control" placeholder="{{'tagMgr.tagDesc' | translate}}" ng-model="tag.description"></textarea>
            <br />
            <span class="text-danger"><strong>{{msg}}</strong></span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'dialog.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="save()">{{'dialog.save' | translate}}</button>
</div>
